{
  "extends": "@atomixdesign/eslint-config/recommended",
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "ignorePatterns": ["**/*.test.ts"]
}
